---
layout: default
title: Tags
---
<div id="articles">
  <table>
    {% for tag_ in @site.categories %}
      {% capture tag %}{{ tag_ | first }}{% endcapture %}
      <tr><th><a name="{{ tag }}" class="anchor">{{ tag }}</a></th></tr>
      {% for post in @site.posts %}
        {% if post.categories contains tag %}
          <tr><td>{{ post.date | date: '%b %e, %Y' }}</td>
              <td><a href="{{ post.url }}">{{ post.title }}</a></td></tr>
        {% endif %}
      {% endfor %}
    {% endfor %}
  </table>
</div>
