<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <link rel="openid.server" href="http://www.myopenid.com/server" />
   <link rel="openid.delegate" href="http://folone.myopenid.com/" />
   <link rel="me" type="text/html" href="http://www.google.com/profiles/folone" />
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <meta http-equiv="Pragma" content="no-cache">
   <meta http-equiv="CACHE-CONTROL" content="NO-CACHE" />
   <meta http-equiv="EXPIRES" content="Mon, 01 Jan 2000 00:00:01 GMT" />
   <title>{{ page.title }}</title>
   <meta name="author" content="Georgii Leontiev" />
   <link href="http://feeds.feedburner.com/folone/site" rel="alternate" title="folone" type="application/atom+xml" />

   <!-- syntax highlighting CSS -->
   <link rel="stylesheet" href="/css/syntax.css" type="text/css" />
   {% if page.fullwidth %}
    <style type="text/css">
        .site {
            width: 80%;
        }
    </style>
   {% else %}
    <style type="text/css">
        .site {
            width: 40em;
        }
    </style>
   {% endif %}

   <!-- Homepage CSS -->
   <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />

   <!-- GA -->
   <script type="text/javascript">
   var _gaq = _gaq || [];
   _gaq.push(['_setAccount', 'UA-2769351-2']);
   _gaq.push(['_trackPageview']);
   (function() {
     var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
     ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
     var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
   })();
   </script>
</head>
<body>

<div class="site">
  <div class="title">
    <a href="/">Home</a>
    <a class="extra" href="/quotes">FP Quotes</a>
    <a class="extra" href="https://www.dropbox.com/sh/4y326mh6px0gv1q/a7ZCubRakW/Books">Library</a>
    <a class="extra" href="https://github.com/folone/folone.github.com/tree/master/cv">Résumé</a>
  </div>
  
  {{ content }}
  
  <div class="footer">
    <div class="contact">
      <p>
        George Leontiev<br />
        Scala developer at <a href="http://thenewmotion.com/">TheNewMotion</a><br />
        (λx.folonexgmail.com)@
      </p>
    </div>
    <div class="contact">
      <p>
        <a href="http://github.com/folone/">github.com/folone</a><br />
        <a href="http://twitter.com/folone/">twitter.com/folone</a><br />
        <a href="http://juick.com/folone/">juick.com/folone</a>
      </p>
    </div>
    <div class="rss">
      <a href="http://feeds.feedburner.com/folone/site">
        <img src="/images/rss.png" alt="Subscribe to RSS Feed" />
      </a>
    </div>
  </div>
<div id="cse" style="width: 100%;">Loading</div>
	<script src="http://www.google.com/jsapi" type="text/javascript"></script>
	<script type="text/javascript"> 
	  google.load('search', '1', {language : 'ru'});
	  google.setOnLoadCallback(function() {
	    var customSearchControl = new google.search.CustomSearchControl('010935229799049702273:zzobyr0tp6u');
	    customSearchControl.setResultSetSize(google.search.Search.FILTERED_CSE_RESULTSET);
	    customSearchControl.draw('cse');
	  }, true);
	</script>
	<link rel="stylesheet" href="http://www.google.com/cse/style/look/default.css" type="text/css" />
</div>

<a href="http://github.com/folone"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://a248.e.akamai.net/assets.github.com/img/abad93f42020b733148435e2cd92ce15c542d320/687474703a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f677265656e5f3030373230302e706e67" alt="Fork me on GitHub"></a>

</body>
</html>
